<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="background-color: rgb(119, 72, 152); color: white"><b>今天有低估的指数{{ info[0] }}个。</b></div>

        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th style="background-color: rgb(119, 72, 152); color: white">指数名称</th>
                    <th style="background-color: rgb(119, 72, 152); color: white">PE</th>
                    <th style="background-color: rgb(119, 72, 152); color: white">6月平均</th>
                    <th style="background-color: rgb(119, 72, 152); color: white">1年平均</th>
                </tr>
            </thead>
            <tbody>
            {% for item in info[1] %}
                <tr class="text-center">
                    <td>{{ item[0] }}</td>

                    {% if (item[4] + item[5]) == 2 %}
                    <td style="color: rgb(119, 72, 152)"><b>{{ item[1] }}</b></td>
                    {% elif (item[4] + item[5]) == 1 %}
                    <td style="color: rgb(119, 72, 152)">{{ item[1] }}</td>
                    {% else %}
                    <td>{{ item[1] }}</td>
                    {% endif %}

                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>